body {
    background: url(https://365psd.com/images/istock/previews/1001/100159101-cute-weather-theme-seamless-pattern-background.jpg);
    height:100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box {
    border: 3px solid white;
    padding: 50px;
    border-radius: 30px;
    background-color:ivory;
}